/* div{
    background: aquamarine;
    display: inline-block; */
    /* non,flex,grid,inline */
    /* width: 300px;
    height: 100px;
} */

/* span{
    background: pink;
    display: block;
} */

div.static{
    border:3px solid black;
    position:static;  /*default*/
    top:40px;

}

div.relative{
    border:3px solid black;
    position:relative;
    left:30px;
    height:400px;
    width: 200;
}
div.fixed{
    border: 3px;
    position:fixed;
    right: 0;
    bottom: 0;
    width:100px;
}

div.absolute{
    border:3px solid black;
    position:absolute;
    top:80px;
    right:240px;
    width: 100px;
    hight:100px;
}
div.sticky{
    border:3px solid black;
    position:sticky;
    top:0;
}