.outline{
   border:2px solid black;
   padding:20px;
   text-align: center;
   margin:20px;
   
   /* outline properties */
   outline-style: dashed;
   outline-width: 10px;
   outline-color: cadetblue;
   outline-offset: 10px;

   /* shorthand */
   /* outline:dotted 10px cadetblue; */

}