div.container{
    position:relative;
    width:300px;
    height:200px;
    background:lightgray;
    border:2px solid black;
    margin:50px auto;
}
.box1,.box2,.box3{
    position:absolute;
    width:100px;
    height:100px;
    text-align: center;
    color:white;
    line-height:100px;
}
.box1{
    background: red;
    top:20px;
    left:20px;
    z-index:2;
}
.box2{
    background: blue;
    top:40px;
    left:40px;
    z-index:1;
}
.box3{
    background: rgb(0, 255, 106);
    top:60px;
    left:60px;
    z-index:0;
}